@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 200
  src: url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff')
  src: url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 300
  src: url('../fonts/TitilliumWeb-Light.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 400
  src: url('../fonts/TitilliumWeb-Regular.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 700
  src: url('../fonts/TitilliumWeb-Bold.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype')

@font-face
  font-family: 'w4c-icon'
  src: url('../fonts/conquest.eot') format('eot')
  src: url('../fonts/conquest.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/conquest.woff') format('woff')
  src: url('../fonts/conquest.ttf') format('truetype')
  src: url('../fonts/conquest.svg') format('svg') active
  font-weight: normal
  font-style: normal

.w4c-icon
  font-family: "w4c-icon" !important
  font-size: 15px
  margin-right: 1px
  speak: none

.w4c-icon.space:before
	content: "\e909"

.w4c-icon.resource:before
	content: "\e900"

.w4c-icon.shield:before
	content: "\e901"

.w4c-icon.cmd:before
	content: "\e902"

.w4c-icon.tau:before
	content: "\e903"

.w4c-icon.astra:before
	content: "\e904"

.w4c-icon.dark:before
	content: "\e905"

.w4c-icon.eldar:before
	content: "\e906"

.w4c-icon.chaos:before
	content: "\e907"

.w4c-icon.orks:before
	content: "\e908"

@font-face
  font-family: "fontello"
  src: url('../fonts/fontello.eot')
  src: url('../fonts/fontello.eot#iefix') format('embedded-opentype')
  src: url('../fonts/fontello.woff') format('woff')
  src: url('../fonts/fontello.ttf') format('truetype')
  font-weight: normal
  font-style: normal

.e
  font-family: "fontello" !important
  font-style: normal
  font-weight: normal
  font-size: 16px
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 28px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
